/* CSSTransition */
.finishPage--enter {
  opacity: 0;
}

.finishPage--enter-active {
  opacity: 1;
  transition: opacity .8s;
}

/* Page CSS */
.finishPageContainer {
  background-color: #F5F5F5;
  height: 100vh;
}

.finishPageRow {
  padding-top: 130px;
  background-color: #F5F5F5;
}

.finishPageBackButton {
  margin-top: 40px;
}

.finishPageTitle {
  font-family: ITCAvantGardeStdMedium;
  font-size: 26px;
  margin-left: 11%;
  margin-top: 40px;
  color: #403D39;
}

.finishPageVerificationContainer {
  margin-top: 8%;
  margin-bottom: 5%;
}

.finishPageText {
  font-family: ITCAvantGardeNormal;
  font-size: 14px;
}

.finishPageVerificationCode {
  font-family: ITCAvantGardeNormal;
  font-size: 14px;
  color: #C1839F;
}

.finishPageViewReceiptContainer {
  margin-top: 8%;
  margin-bottom: 5%;
  margin-left: 10%;
  height: 40px;
  width: 250px;
}

.finishPageViewReceiptText {
  background-color: #C1839F;
  outline: none;
  border: none;
  height:100%;
  padding: 0 20px;
  font-size: 13px;
  color: #FFF;
  border-radius: 10px;
  font-family: ITCAvantGardeNormal;
}

.finishPageTextContainer {
  margin-top: 8%;
  margin-left: 10%;
}

.finishPageButtonContainer {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  margin-right: 12%;
  margin-top: 40px;
}
