/* CSSTransition */
.allListings--enter {
  opacity: 0;
}

.allListings--enter-active {
  opacity: 1;
  transition: opacity .8s;
}

.categoryModal--appear {
  opacity: 0;
  transform: scaleY(0);
}

.categoryModal--appear-active {
  opacity: 1;
  transform: scaleY(1);
  transition: .5s;
  transform-origin: top;
}

.categoryModal--exit-active {
  opacity: 1;
  transform: scaleY(1);
}

.categoryModal--exit {
  opacity: 0;
  transform: scaleY(0);
  transition: .5s;
  transform-origin: top;
}

/* PAGE CSS */
.allListingsContainer {
  background-color: #F5F5F5;
  height: 100vh;
}

.allListingsRow {
  padding-top: 130px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
}

.allListingsBackButton {
  margin-top: 40px;
}

.allListingsTitle {
  font-family: ITCAvantGardeNormal;
  font-size: 26px;
  margin-left: 11%;
  margin-top: 40px;
  margin-bottom: 30%;
}

/* REGIONS DROPDOWN */
.regionContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 5%;
}

.regionSelector {
  border: 1px solid #000;
  border-radius: 15px;
  width: 200px;
  height: 26px;
}

.regionsOptionContainer {
  width: 100%;
  background-color: #FFF;
  border: 1px solid #00A8E8;
  padding-left: 10px;
}

.regionsOptionTitle {
  color: #00A8E8;
  width: 100%;
  font-size: 13px;
  font-family: ITCAvantGardeStdMedium;
  margin-top: 10px;
}

.regionOptionText {
  color: #403D39;
  font-size: 11px;
  font-family: ITCAvantGardeNormal;
  cursor: pointer;
}

.regionsSortingContainer {
  background-color: #FFF;
  border-width: 0 2px 2px 2px;
  border-color: #00A8E8;
  border-style: solid;
  padding-left: 5px;
  padding-top: 8px;
  margin-top: 15px;
}

.regionSortingText {
  color: #403D39;
  font-family: ITCAvantGardeStdMedium;
  cursor: pointer;
}

/* CATEGORY DROPDOWN */
.listingsCategory {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border-bottom: 1px solid #00A8E8;
  margin-left: 7%;
  margin-right: 8%;
  background-color: #F5F5F5;
}

.listingsCategoryHeader {
  display: flex;
  align-items: center;
}

.listingsCategoryTitle {
  font-size: 15px;
  font-family: ITCAvantGardeStdMedium;
  margin-top: 3px;
  margin-right: 15px;
  color: #403D39;
}

.listingsDropdown {
  width: 10px;
  height: 10px;
  margin-bottom: 5px;
  padding: 8px;
  background-color: #00A8E8;
  clip-path: polygon(100% 58%, 51% 100%, 0 58%, 0 35%, 51% 75%, 100% 33%);
}

.listingsDropdown:hover {
  cursor: pointer;
}

/* CATEGORY MODAL */
.categoryContainer {
  display: flex;
  background-color: #fff;
  border: 2px solid #00A8E8;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
}

.categoryTitle {
  color: #00A8E8;
  font-size: 13px;
  font-family: ITCAvantGardeStdMedium;
  margin-top: 10px;
  width: 100%;
}

.subCategoryContainer {
  display: flex;
  flex-wrap: wrap;
}

.subCategoryTitle {
  font-size: 11px;
  font-family: ITCAvantGardeStdMedium;
  color: #403D39;
}

.subCategoryText {
  font-family: ITCAvantGardeNormal;
  font-size: 10px;
  color: #403D39;
  cursor: pointer;
}

.allListingsText {
  font-family: ITCAvantGardeNormal;
}

.allListingsButtonContainer {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  margin-right: 12%;
  margin-top: 100px;
}

/* SINGLE HOUSE */
.houseContainer {
  display: flex;
  margin-left: 7%;
  height: 160px;
  margin-top: 15px;
  margin-right: 10%;
  cursor: pointer;
}

.houseImageContainer {
  height: 100%;
  width: 100%;
}

.houseTextContainer {
  /* height: 100%; */
  margin-left: 20px;
}

.houseTitleContainer {
  display: flex;
}

.houseSubtitleContainer {
  display: flex;
}

.houseTitleText {
  font-size: 13px;
  font-family: ITCAvantGardeStdMedium;
  color: #00A8E8;
}

.houseSubtitleText {
  font-size: 10px;
  font-family: ITCAvantGardeNormal;
  color: #403D39;
}

.houseDescription {
  font-size: 12px;
  font-family: ITCAvantGardeNormal;
}

.houseContactText {
  font-family: ITCAvantGardeStdMedium;
  color: #000;
  font-size: 10px;
}

.divider {
  width: 2px;
  height: 17px;
  margin: 0 10px;
  margin-top: -3px
}

/* BOTTOM CONTENT */
.bottomContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 8%;
  margin-top: 50px;
}

.bottonContentText {
  font-size: 13px;
  font-family: ITCAvantGardeStdMedium;
}

/* SEARCH ICON */
.searchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  margin-top: -5px;
}
