/* CSSTransition */
.eachListing--enter {
  opacity: 0;
}

.eachListing--enter-active {
  opacity: 1;
  transition: opacity .8s;
}

/* Page CSS */
.eachListingContainer {
  background-color: #F5F5F5;
  height: 100vh;
}

.eachListingRow {
  padding-top: 130px;
  background-color: #F5F5F5;
}

.listingImageContainer {
  margin-top: 30px;
  margin-bottom: 40px;
  height: 300px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.eachListingConfirmCol {
  margin-left: 11%;
  margin-right: 11%;
  width: 100%;
}

.listingsCategoryText {
  font-size: 11px;
  font-family: ITCAvantGardeNormal;
}

.listingTitleText {
  font-family: ITCAvantGardeStdBold;
  font-size: 16px;
  color: #00A8E8;
}

.listingDetailContainerStyle {
  display: flex;
  justify-content: center;
}

.listingDetailLeftContent {
  width: 15%;
}

.listingDetailRightContent {
  margin-left: 60px;
  width: 100%;
}

.listingDetailTitle {
  font-size: 13px;
  font-family: ITCAvantGardeStdMedium;
  color: #403D39;
}

.listingDetailMiniContainer {
  margin-top: 20px;
}

.listingDetailMiniText {
  font-size: 12px;
  font-family: ITCAvantGardeStdMedium;
  color: #403D39;
}

.listingDetailMiniSubText {
  font-size: 11px;
  font-family: ITCAvantGardeNormal;
  color: #403D39;
  margin-top: -10px;
}

.listingDetailDescription {
  font-family: ITCAvantGardeNormal;
  font-size: 12px;
  color: #403D39;
}

.listingFeaturedTitle {
  font-size: 15px;
  font-family: ITCAvantGardeStdMedium;
  color: #403D39;
}

.listingFeaturedImageContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.featuredContainer {
  width: 33%;
  height: 200px;
}

.featuredCategoryTitle {
  font-family: ITCAvantGardeStdBold;
  font-size: 13px;
  text-transform: capitalize;
}

.featuredCategoryText {
  font-family: ITCAvantGardeNormal;
  font-size: 14px;
  color: #403D39;
  margin-top: -10px;
}

.cookieContainer {
  background-color: #F5F5F5;
  width: 100%;
  height: 20px;
}

.cookieNotification {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #403D39;
  padding: 10px 0 10px 0;
  color: #FFF;
}

.cookieNotification a {
  text-decoration: underline;
  color: #FFF;
  margin: 0 5px 0 5px;
}

.cookieNotification a:hover {
  text-decoration: underline;
  color: #FFF;
}

.cookieButton {
  background-color: #FFF;
  color: #000;
  padding: 0 15px 0 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}
