/* CSSTransition */
.howItWorks--enter {
  opacity: 0;
}

.howItWorks--enter-active {
  opacity: 1;
  transition: opacity .8s;
}

/* Page CSS */
.howItWorksContainer {
  background-color: #F5F5F5;
  height: 100vh;
}

.howItWorksRow {
  padding-top: 130px;
  background-color: #F5F5F5;
}

.howItWorksBackButton {
  margin-top: 40px;
}

.HowItWorksCol {

}

.howItWorksTitle {
  font-family: ITCAvantGardeNormal;
  font-size: 26px;
  margin-left: 11%;
  margin-top: 40px;
}

.howItWorksCategoryContainer {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
  margin-top: 8%;
}

.howItWorksCategoryTitle {
  font-family: ITCAvantGardeNormal;
  font-size: 15px;
  background-color: #C1839F;
  margin-right: 8px;
  width: 130px;
  height: 38px;
  padding-top: 7px;
  text-align: center;
  color: #FFF;
}

.howItWorksCategoryText {
  font-family: ITCAvantGardeNormal;
  font-size: 15px;
  background-color: grey;
  height: 38px;
  color: #FFF;
  margin: 0 7px;
  padding: 5px 20px;
  margin-bottom: 10px;
}

.howItWorksButtonContainer {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  margin-right: 9%;
  margin-top: 100px;
}

.howItWorksButton {
  height: 100%;
  border: 0;
  border-radius: 30px;
  width: 180px;
  padding: 8px 5px;
  background-color: #C1839F;
  display: flex;
  justify-content: center;
  outline: 0;
}
