/* CSSTransition */
.howItWorks--enter {
  opacity: 0;
}

.howItWorks--enter-active {
  opacity: 1;
  transition: opacity .8s;
}

.categoryTitleAnimation--appear {
  opacity: 0;
}

.categoryTitleAnimation--appear-active {
  opacity: 1;
  transition: .8s;
}

.categoryTitleAnimation--exit {
  opacity: 1;
}

.categoryTitleAnimation--exit-active {
  opacity: 0;
  transition: opacity .8s;
}

.categoryAnimation--appear {
  opacity: 0;
}

.categoryAnimation--appear-active {
  opacity: 1;
  transition: opacity .8s;
}

.categoryAnimation--exit {
  opacity: 1;
}

.categoryAnimation--exit-active {
  opacity: 0;
  transition: opacity .8s;
}

/* PAGE CSS */
.howItWorksContainer {
  background-color: #F5F5F5;
  height: 100vh;
}

.howItWorksRow {
  padding-top: 130px;
  background-color: #F5F5F5;
  height: '100%';
}

.howItWorksBackButton {
  margin-top: 40px;
}

.HowItWorksCol {

}

.howItWorksTitle {
  font-family: ITCAvantGardeNormal;
  font-size: 26px;
  margin-left: 11%;
  margin-top: 40px;
}

.howItWorksCategoryContainer {
  display: flex;
  margin-bottom: 5px;
  flex-wrap: wrap;
  margin-top: 15%;
  margin-left: 11%;
}

.howItWorksDupCategoryContainer {
  display: flex;
  margin-bottom: 5px;
  flex-wrap: wrap;
  margin-top: 15%;
  margin-left: 11%;
  position: absolute;
  width: 90%;
  margin-bottom: 5px;
}

.howItWorksItemCategoryContainer {
  margin-top: 10px;
  margin-left: 11%;
}

.howItWorksCategoryTitle {
  font-family: ITCAvantGardeNormal;
  font-size: 15px;
  background-color: #C1839F;
  margin-right: 8px;
  width: 130px;
  height: 38px;
  padding-top: 7px;
  text-align: center;
  color: #FFF;
  cursor: pointer;
}

.howItWorksDupCategoryTitle {
  font-family: ITCAvantGardeNormal;
  font-size: 15px;
  background-color: #C1839F;
  /* margin-right: 10%; */
  width: 130px;
  height: 38px;
  padding-top: 7px;
  text-align: center;
  color: #FFF;
}

.howItWorksCategoryText {
  font-family: ITCAvantGardeNormal;
  font-size: 15px;
  background-color: grey;
  height: 38px;
  color: #FFF;
  margin: 0 7px;
  padding: 5px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

/* TITLE TRANSITION */
.rentStyle {
  transform: translateY(-100px);
  transition: .6s
}

.rentStyleHide {
  transform: translateY(0);
  opacity: 0;
  transition: .6s
}

.saleStyle {
  transform: translateY(-100px) translateX(-160px);
  transition: .6s;
}

.saleStyleHide {
  transform: translateY(0) translateX(0);
  opacity: 0;
  transition: .6s;
}

.leaseStyle {
  transform: translateY(-100px) translateX(-330px);
  transition: .6s;
}

.leaseStyleHide {
  transform: translateY(0) translateX(0);
  opacity: 0;
  transition: .6s;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 2560px) {
  .rentStyle {
    transform: translateY(-150px);
  }

  .saleStyle {
    transform: translateY(-150px) translateX(-600px);
  }

  .leaseStyle {
    transform: translateY(-150px) translateX(-560px);
  }
}

@media only screen and (min-width: 1920px) {
  .saleStyle {
    transform: translateY(-150px) translateX(-500px);
  }
}

@media only screen and (min-width: 1366px) {
  .howItWorksButtonContainer {
    margin-right: 5%;
  }

  .rentStyle {
    transform: translateY(-150px);
  }

  .saleStyle {
    transform: translateY(-150px) translateX(-280px);
  }

  .leaseStyle {
    transform: translateY(-150px) translateX(-560px);
  }

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 600px) {

}
