.Container {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-left: 65px;
}

.Link {
  margin-top: 30px;
  margin-bottom: 30px;
  /* width: 100px; */
  /* background-color: red; */
  transform: rotate(-90deg);
}

.Link1 {
  
}

.Link a {
  color: #403D39;
  font-family: ITCAvantGardeNormal;
}

.Link a:hover {
  cursor: pointer;
  color: #403D39;
}
