/* CSSTransition */
.congratsPage--enter {
  opacity: 0;
}

.congratsPage--enter-active {
  opacity: 1;
  transition: opacity .8s;
}

/* Page CSS */
.congratsPageContainer {
  background-color: #F5F5F5;
  height: 100vh;
}

.congratsPageRow {
  padding-top: 130px;
  background-color: #F5F5F5;
}

.congratsPageBackButton {
  margin-top: 40px;
}

.congratsPageCol {
  padding-left: 7%;
}

.congratsPageTitle {
  font-family: ITCAvantGardeStdMedium;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 8%;
  color: #403D39;
}

.congratsPageText {
  font-family: ITCAvantGardeNormal;
  font-size: 14px;
  margin-bottom: 40px;
}

.congratsPageButtonContainer {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  margin-right: 30%
}

.congratsPageButton {
  height: 100%;
  border: 0;
  border-radius: 30px;
  width: 250px;
  padding: 8px 30px;
  background-color: #00A8E8;
  outline: none;
}

.congratsPageButton:hover {
  cursor: pointer;
}

.congratsPageButton:active {
  outline: none;
}

.congratsPageButtonText {
  font-size: 18px;
  color: #FFFFFF;
  font-family: ITCAvantGardeStdMedium;
  margin-right: 3px;
}
