.Container {
  background-color: #F5F5F5;
  height: 100vh;
}

.Row {
  padding-top: 130px;
  background-color: #F5F5F5;
}

.BackButton {
  margin-top: 40px;
}

.Title {
  font-family: ITCAvantGardeStdMedium;
  font-size: 29px;
  margin-top: 35px;
  margin-bottom: 7%;
  margin-left: 10%;
  color: #403D39;
}

.TileRow {
  margin-right: 10%;
}

.ButtonContainer {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  margin-right: 7%;
  margin-top: 100px;
}

.Modal {
  position: fixed;
  left: 25%;
  top: 25%;
  height: 50%;
  width: 50%;
  background-color: #FFF;
  box-sizing: border-box;
}

.ModalTitle {
  font-family: ITCAvantGardeNormal;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 300px;
}

.Close {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  padding-right: 50%;
}

.Close:hover {
  cursor: pointer;
}

.Arrow1 {
  width: 13px;
  transform: rotate(180deg);
  margin-right: 4px;
  margin-top: 1px;
  transition: .3s;
}

.Arrow2 {
  width: 13px;
  margin-right: -14px;
  margin-top: -1px;
  transition: .3s;
}

.Close1 {
  transform: rotate(45deg);
  height: 25px;
  width: 2px;
  background-color: #000;
  position: absolute;
  transition: .3s;
}

.Close2 {
  transform: rotate(-45deg);
  height: 25px;
  width: 2px;
  background-color: #000;
  transition: .3s;
  position: absolute;
}

.Close:hover > .Close1 {
  height: 15px;
  width: 2px;
}

.Close:hover > .Close2 {
  height: 15px;
  width: 2px;
}

.Close:hover > .Arrow1 {
  width: 20px;
  margin-right: 11px;
  margin-top: 1px;
}

.Close:hover > .Arrow2 {
  width: 20px;
  margin-right: -25px;
  margin-top: -1px;
}
