/* CSSTransition */
.faqsPage--enter {
  opacity: 0;
}

.faqsPage--enter-active {
  opacity: 1;
  transition: .8s;
}

/* Page CSS */
.faqsPageContainer {
  background-color: #F5F5F5;
  height: 100vh;
}

.faqsPageRow {
  padding-top: 130px;
  background-color: #F5F5F5;
}

.faqsPageCol {
  position: fixed;
}

.faqsPageBackButton {
  margin-top: 40px;
}

.FAQsCol {
  margin-top: 40px;
}

.FAQsTitle {
  font-family: ITCAvantGardeStdMedium;
  font-size: 23px;
  color: #403D39;
  margin-left: 30%;
}

.FAQsSubtitle {
  font-family: ITCAvantGardeStdMedium;
  font-size: 20px;
  color: #403D39;
  margin-top: 50px;
  margin-bottom: 50px;
}

.FAQsWorksRow {
  margin-top: 80px;
  margin-right: 7%;
}

.faqsPageTileContainerCol {
  margin: 5px auto 50px auto;
}

.faqsPageQuestionContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  margin-right: 25px;
}

.faqsPageQuestionContainer > div {
  width: 100%;
  margin: 5px;
}

.faqsPageSingleQuestion {
  font-family: ITCAvantGardeStdBold;
  font-size: 12px;
  margin: 10px 0;
}

.faqsPageSingleAnswer {
  font-family: ITCAvantGardeNormal;
  font-size: 12px;
  margin: 20px 0;
}
