.Container {
  margin: 10px;
  width: 80%;
}

.TitleContainer {
  display: flex;
  justify-content: space-between;
}

.Title {
  font-size: 13px;
  font-family: ITCAvantGardeStdBold;
  color: #403D39;
}

.Icon {
  height: 26px;
  width: 26px;
}

.Description {
  font-size: 13px;
  font-family: ITCAvantGardeNormal;
}
