/* CSSTransition */
.findingPage--enter {
  opacity: 0;
}
.findingPage--enter-active {
  opacity: 1;
  transition: opacity .8s;
}

/* Page CSS */
.findingPageContainer {
  background-color: #F5F5F5;
  height: 100vh;
}

.findingPageRow {
  padding-top: 130px;
  background-color: #F5F5F5;
}

.findingPageBackButton {
  margin-top: 40px;
}

.findingPageFindingCol {
  padding-left: 7%;
}

.findingPageTitle {
  font-family: ITCAvantGardeStdMedium;
  font-size: 30px;
  margin-top: 35px;
  margin-bottom: 12%;
}

.findingPageEmail {
  font-family: ITCAvantGardeStdMedium;
  font-size: 14px;
  margin-bottom: 5px;
}

.findingPageInputContainer {
  width: 430px;
  height: 40px;
  margin-bottom: 25px;
}

.findingPageText {
  font-family: ITCAvantGardeNormal;
  font-size: 14px;
  margin-bottom: 30px;
}

.findingPageButtonContainer {
  height: 40px;
  width: 200px;
}

.findingPageButton {
  height: 100%;
  border: 0;
  border-radius: 30px;
  width: 180px;
  padding: 8px 15px;
  background-color: #00A8E8;
  display: flex;
  justify-content: center;
}

.findingPageButton:hover {
  cursor: pointer;
  outline: none;
}

.findingPageButtonText {
  font-size: 17px;
  color: #FFFFFF;
  font-family: ITCAvantGardeNormal;
  margin-right: 3px;
}
