/* CSSTransition */
.confirmPost--enter {
  opacity: 0;
}

.confirmPost--enter-active {
  opacity: 1;
  transition: opacity .8s;
}

/* Page CSS */
.confirmPostContainer {
  background-color: #F5F5F5;
  height: 100vh;
}

.confirmPostRow {
  padding-top: 130px;
  background-color: #F5F5F5;
}

.confirmPostBackButton {
  margin-top: 40px;
}

.confirmPostTitle {
  font-family: ITCAvantGardeStdMedium;
  font-size: 26px;
  margin-left: 11%;
  margin-top: 40px;
}

.confirmPostButtonContainer {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  margin-right: 9%;
  margin-top: 100px;
}

.confirmPostContentContainer {
  display: flex;
}

.confirmPostTextContainer {
  margin-left: 10px;
  margin-top: 12%;
  width: 50%;
  /* background-color: red; */
}

.confirmPostText {
  font-family: ITCAvantGardeNormal;
  font-size: 15px;
  color: #C1839F;
  margin-bottom: 50px;
}

.confirmPostText a {
  color: #C1839F;
  text-decoration: none;
}

.confirmPostText:hover {
  cursor: pointer;
}

.confirmPostText a:hover {
  color: #C1839F;
  text-decoration: none;
}

/* INOICE */
.invoiceContainer {
  width: 70%;
  border-left: 1px solid #403D39;
  padding-left: 5%;
  padding-right: 5%;
}

.invoiceTitle {
  font-size: 14px;
  font-family: ITCAvantGardeStdBold;
  color: #403D39;
}

.invoiceDivider {
  height: 1px;
  width: 100%;
  background-color: #E2E2E1;
  margin-top: -10px;
  margin-bottom: 20px;
}

.invoiceTextContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.invoiceText {
  font-family: ITCAvantGardeNormal;
  font-size: 12px;
  color: #403D39;
}

.invoiceTotal {
  font-family: ITCAvantGardeStdMedium;
  font-size: 13px;
  color: #403D39;
}
