/* CSSTransition */
.confirmPost--enter {
  opacity: 0;
}

.confirmPost--enter-active {
  opacity: 1;
  transition: opacity .8s;
}

/* Page CSS */
.confirmPostContainer {
  background-color: #F5F5F5;
  height: 100vh;
}

.confirmPostRow {
  padding-top: 130px;
  background-color: #F5F5F5;
}

.confirmPostBackButton {
  margin-top: 40px;
}

.confirmPostTitle {
  font-family: ITCAvantGardeStdMedium;
  font-size: 26px;
  margin-left: 11%;
  margin-top: 40px;
}

.confirmPostButtonContainer {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  margin-right: 9%;
  margin-top: 100px;
}

.confirmPostTextContainer {
  margin: 15% 0 25% 0;
  display: flex;
  justify-content: space-between;
  width: 80%
}

.confirmPostText {
  font-family: ITCAvantGardeNormal;
  font-size: 15px;
  color: #C1839F;
}

.confirmPostText a {
  color: #C1839F;
  text-decoration: none;
}

.confirmPostText:hover {
  cursor: pointer;
}

.confirmPostText a:hover {
  color: #C1839F;
  text-decoration: none;
}
