.Container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.ArrowImage {
  margin-left: 10px;
  height: 13px;
  width: 13px;
  transition: .2s;
}

.RectangleImage {
  margin-right: -9px;
  margin-top: 4px;
  height: 14px;
  width: 10px;
  padding-right: 10;
  transform: rotate(45deg);
  transition: .2s;
}

.back {
  position: absolute;
  margin-top: 11px;
  margin-left: 35px;
  background-color: #000;
  width: 5px;
  height: 2px;
  transition: .2s;
}

.Container:hover {
  cursor: pointer;
}

.Container:hover > .ArrowImage {
  margin-top: -10px;
  transform: scale(1.7);
  transform-origin: right;
  margin-left: 0;
}

.Container:hover > .RectangleImage {
  margin-top: 9px;
  transform: rotate(45deg) scale(1.5);
  transform-origin: right;
  margin-right: 5px;
}

.Container:hover > .back {
  transform: scaleX(3);
  transform-origin: right;
  margin-left: 35px;
  margin-top: 9px;
}
