@font-face {
  font-family: 'ITCAvantGardeNormal';
  src: local('ITCAvantGardeNormal'), url(./assets/fonts/ITCAvantGardeStdBk.otf) format('opentype');
}

@font-face {
  font-family: 'ITCAvantGardeStdBold';
  src: local('ITCAvantGardeStdBold'), url(./assets/fonts/ITCAvantGardeStdBold.otf) format('opentype');
}

@font-face {
  font-family: 'ITCAvantGardeStdBoldItalic';
  src: local('ITCAvantGardeStdBoldItalic'), url(./assets/fonts/ITCAvantGardeStdBoldObl.otf) format('opentype');
}

@font-face {
  font-family: 'ITCAvantGardeStdMedium';
  src: local('ITCAvantGardeStdMedium'), url(./assets/fonts/ITCAvantGardeStdMd.otf) format('opentype');
}

@font-face {
  font-family: 'ITCAvantGardeStdMediumItalic';
  src: local('ITCAvantGardeStdMediumItalic'), url(./assets/fonts/ITCAvantGardeStdMdObl.otf) format('opentype');
}

@font-face {
  font-family: 'ITCAvantGardeStdLight';
  src: local('ITCAvantGardeStdLight'), url(./assets/fonts/ITCAvantGardeStdXLt.otf) format('opentype');
}

@font-face {
  font-family: 'ITCAvantGardeStdLightItalic';
  src: local('ITCAvantGardeStdLightItalic'), url(./assets/fonts/ITCAvantGardeStdXLtObl.otf) format('opentype');
}
