/* CSSTransition */
.confirmPage--enter {
  opacity: 0;
}

.confirmPage--enter-active {
  opacity: 1;
  transition: opacity .8s;
}

/* Page CSS */
.confirmPageContainer {
  background-color: #F5F5F5;
  height: 100vh;
}

.confirmPageRow {
  padding-top: 130px;
  background-color: #F5F5F5;
}

.confirmPageBackButton {
  margin-top: 40px;
}

.confirmPageCol {
  margin-top: 13%;
  padding-left: 5%;
}

.ConfirmText {
  font-family: ITCAvantGardeNormal;
  font-size: 14px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.confirmPageResendText {
  font-family: ITCAvantGardeNormal;
  font-size: 14px;
  margin-right: 30px;
}

.confirmPageResendContainer {
  display: flex;
  height: 40px;
  align-items: center;
}

.confirmPageButtonContainer {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  margin-right: 30%
}

.confirmPageButtonText {
  font-size: 15px;
  color: #FFFFFF;
  font-family: ITCAvantGardeNormal;
}
